<style>
.header1{
font-size:80px;
font-family:bold;
text-align :center;
background-color: #8FBC8F;
}
.header2{
font-size:30px;
font-family:bold;
text-align :center;
}
.button{
 background-color: #8FBC8F;
    border: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    }
    .button1 {font-size: 24px;}
    .div1 {
    width: 1200px;
    height: 200px;
    border: 1px solid green;
    box-sizing: border-box;
}
    .div2 {
    width: 1200px;
    height: 300px;
    border: 1px solid green;
    box-sizing: border-box;
}
</style>
<div class = "div1">
<form novalidate></form>
<body >
	<h1 class ="header1"; align="center">Zomatoplus Welcomes You</h1>
	<br>
 	<h2 class="header2";align = "center">Order food online in Kolkata </h2>
 	<br>
 </body>
</div>

<div class = "div2">
<!-- <button ng-click="orderfood()">Order Food</button>
<button ng-click="bookatable()">Book a Table</button>-->
<button class="button button1">Order Food</button><br>
<br>
<button class="button button1">Book A table</button><br>
<br>
<button class="button button1">About Us</button>
</div>